:root {
  --greenBrightColor: #64ffda;
  --grayColor: #8892b0;
  --lightestNavy: #233554;
  --lightSlate: #a8b2d1;
  --lightestSlate: #ccd6f6;
  --lightSmoke: #acb5cf;
  --smoke: #8992ac;
  --light-navy: #233450;
}
