.navbar {
  background-color: #0a192f;
}

.menu-name {
  color: var(--lightestSlate) !important;
  font-weight: bold;
}

.nav-links {
  color: var(--lightestSlate) !important;
  font-weight: bold !important;
}

.nav-icon-links {
  color: var(--lightestSlate) !important;
}

.nav-icon-links:hover {
  color: var(--greenBrightColor) !important;
  transition: all ease-in 300ms;
}

.nav-links:hover {
  color: var(--greenBrightColor) !important;
  transition: all ease-in 300ms;
}

@media only screen and (max-width: 600px) {
  .navbar-light .navbar-brand {
    display: none;
  }

  .navbar-light .navbar-nav.me-auto .nav-links {
    display: none;
  }
}
